################################################################################
# Данный GITIGNORE-файл был автоматически создан Кротиковым
################################################################################

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
cpp/euler/Debug/
presentation/
text/
.vs/